{{ define "main" }}
<main>
  <article>
    <div class="section-description">
      {{ .Content }}
    </div>

    {{ if .Pages }}
      <hr class="section-divider" />

      <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a><br/>
            <small>{{ .Date.Format "Jan 2, 2006" }}</small>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No posts yet</p>
    {{ end }}
  </article>
</main>
{{ end }}
