{{ define "main" }}
<main>
  <article>
    <div class="section-description">
      {{ .Content }}
    </div>

    <hr class="section-divider" />

    {{ if .Pages }}
      <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a><br/>
            <small>{{ .Date.Format "Jan 2, 2006" }}</small><br/>

            {{ with .Params.description }}
              <p>{{ . }}</p>
            {{ else }}
              <p>{{ .Summary | plainify }}</p>
            {{ end }}

            <a href="{{ .RelPermalink }}">Read more →</a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No posts yet</p>
    {{ end }}
  </article>
</main>
{{ end }}