{{ define "main" }}
<main>
  <article>
    <div class="post-utility-links">
      <a href="{{ .Section | relURL }}">← Back to {{ .Section | title }}</a>
    </div>

    <h1 class="post-title">{{ .Title }}</h1>

    {{ with .Date }}
    <div class="post-date">
      <time datetime='{{ .Format "2006-01-02" }}'>
        {{ .Format "02 Jan, 2006" }}
      </time>
    </div>

    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
      <p class="post-tags">
        {{ range . }}
          <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </p>
    {{ end }}
  </article>
</main>
{{ end }}