{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>

    {{ with .Date }}
    <p>
      <i>
        <time datetime='{{ .Format "2006-01-02" }}'>
          {{ .Format "02 Jan, 2006" }}
        </time>

      </i>
    </p>
    {{ end }}

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
      <p class="post-tags">
        {{ range . }}
          <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </p>
    {{ end }}
  </article>
</main>
{{ end }}