<header>
  <h1 style="text-align: center; font-weight: 600;">
    🪴 <a href="/" style="text-decoration: none; color: inherit;">{{ .Site.Title }}</a> 🪴
  </h1>

  {{ if not .IsHome }}
    <nav class="nav-home" style="text-align: center; margin-bottom: 0.5rem;">
      <a href="/" class="{{ if eq .RelPermalink "/" }}active{{ end }}">🏡 Home</a>
    </nav>

    {{ if .Site.Menus.main }}
      <nav class="site-nav" style="justify-content: center;">
        {{ range .Site.Menus.main }}
          {{ if ne .URL "/" }}
            <a href="{{ .URL }}" class="{{ if eq $.RelPermalink .URL }}active{{ end }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      </nav>
    {{ end }}
  {{ end }}
</header>
